.gen-tab{
    border: 1px solid black;
    display: flex;
    width: 157px;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.gen-main{
    display: flex;
    flex-wrap: wrap;
}